{% load static %}


{% block content %}

<div class="container w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="container-forms w-100 d-flex justify-content-center shadow">
        <form class="w-100 p-3" action="{% url "CadastroFaltas" %}" method="post">{% csrf_token %}
            <div class="content-forms d-flex flex-column">
                {{FaltaForms.as_p}}
                <button class="btn btn-primary"  type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


{% endblock  %}