<table class="table table-hover w-100 align-items-center">
    <thead>
    <tr>
        <th scope="col" class="bg-primary text-center text-light">NOME</th>
        <th scope="col" class="bg-primary text-center text-light">UNIDADE</th>
        <th scope="col" class="bg-primary text-center text-light">ATRASOS</th>
        <th scope="col" class="bg-primary text-center text-light">DATA</th>
        <th scope="col" class="bg-primary text-center text-light"></th>
    </thead>
    <tbody>
    {% for model in AtrasosPaginator %}
        <tr>
            <th scope="row" class="text-center"><a class="text-decoration-none" href="#">{{model.funcionarios}}</a></th>
            <td class="text-center">{{model.funcionarios.unidade.name_unidade}}</td>
            <td class="text-center">{{model.converter_atrasos}}</td>
            <td class="text-center">{{model.data}}</td>
            <td><a href="{% url "DeletarAtrasos" model.id %}"><i class="far fa-trash-alt" style="color: #f00505;"></i></a></td>
        </tr>
        {% empty %}
        <p class="text-danger">Não há dados a serem exibidos.</p>
    {% endfor %}
</tbody>
</table>
<ul class="pagination justify-content-center">
    <!-- Link para a página anterior -->
    {% if PaginarFuncionarios.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ PaginarFuncionarios.previous_page_number }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
        </li>
    {% endif %}
    
    <!-- Mostrar "..." se houver páginas anteriores ao alcance visível -->
    {% if AtrasosPaginator.number|add:'-3' > 1 %}
        <li class="page-item"><a class="page-link" href="?page=1">&hellip;</a></li>
    {% endif %}
    
    <!-- Páginas numeradas -->
    {% for page in AtrasosPaginator.paginator.page_range %}
        {% if page == AtrasosPaginator.number %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page }} <span class="sr-only">(current)</span>
                </span>
            </li>
        {% elif page >= AtrasosPaginator.number|add:'-3' and page <= AtrasosPaginator.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}
    
    <!-- Mostrar "..." se houver páginas seguintes ao alcance visível -->
    {% if AtrasosPaginator.paginator.num_pages > AtrasosPaginator.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ AtrasosPaginator.paginator.num_pages }}">&hellip;</a></li>
    {% endif %}
    
    <!-- Link para a próxima página -->
    {% if AtrasosPaginator.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ AtrasosPaginator.next_page_number }}">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
        </li>
    {% endif %}
</ul>
