{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="container w-75 h-100 d-flex flex-column align-items-center justify-content-center bg-light shadow">
    <h2 class="text-primary text-center mt-2">Editar Funcionário</h2>
    <div class="container-forms w-100 d-flex justify-content-center  rounded">
        <form class="w-100 text-dark p-3" method="post">
            {% csrf_token %}
            <div class="content-forms d-flex flex-column gap-3">
                {{FuncionariosForms.as_div}}
                <button  class="btn btn-primary"  type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock  %}
