{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
 
<div class="d-flex flex-column justify-content-center align-items-center h-100 gap-4 p-5">
    <div class="new-search d-flex align-items-center gap-2">
       <span>Cadastrar Funcionários</span><a data-bs-toggle="modal" data-bs-target="#cadastrar-novo" href="#" class="btn btn-outline-success" id="cadastrar"
       hx-get="{% url 'cadastrarFuncionarios' %}" hx-target="#cadastrar-funcionario" hx-swap="innerHTML">Cadastrar</a>
       <span>Buscar Funcionário</span><input type="text" class="form-control w-50"> 
    </div>
    
    {% include "Adm/funcionarios/ListarFuncionarios.html" %}
    
</div>


{% include "Adm/modal/cadastro_modal.html/" %}
{% endblock  %}

{% block scripts %}
<script src="{% static 'Adm/js/adm.js' %}"></script>
{% endblock  %}