{% extends "dashboard/base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href={% static 'Adm/css/adm.css' %}/>{% endblock  %}
{% block content %}
 
<div id="funcionarios" class="d-flex flex-column justify-content-center align-items-center h-100 gap-2 p-3">
    
    <div class="new-search d-flex align-items-center justify-content-center gap-2 w-100">
        <a data-bs-toggle="modal" data-bs-target="#cadastrar-novo" href="#" class="btn btn-outline-primary" id="cadastrar"
        hx-get="{% url 'cadastrarFuncionarios' %}" hx-target="#cadastrar-funcionario" hx-swap="innerHTML">Cadastrar Funcionarios <i id="add" class="fas fa-user-plus" style="color: #f5faf4;"></i></a>
        <span class="bg-primary text-light rounded p-1">Filtrar Unidade:</span>
        <form method="get" class="d-flex gap-2">
             {{FiltersFuncionarios.form.unidade}} 
          <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
        </form>
    </div>
    {% include "avisos/_aviso.html" %}
    {% include "Adm/funcionarios/ListarFuncionarios.html" %}
    
</div>


{% include "Adm/modal/cadastro_modal.html/" %}
{% endblock  %}

{% block scripts %}
<script src="{% static 'Adm/js/adm.js' %}"></script>
{% endblock  %}