{% load static %}
<div class="container min-w-75">
<table class="table table-hover w-100 align-items-center">
    <thead>
    <tr>
        <th scope="col" class="bg-primary text-center text-light">Nome</th>
        <th scope="col" class="bg-primary text-center text-light">Unidade</th>
        <th scope="col" class="bg-primary text-center text-light">Telefone</th>
        <th scope="col" class="bg-primary text-center text-light">Endereço</th>
        <th scope="col" class="bg-primary text-center text-light">Data de Criação</th>
        <th scope="col" class="bg-primary text-center text-light"></th>
    </tr>
    </thead>
    <tbody>
    {% for model in PaginarFuncionarios  %}
        <tr>
            <th scope="row"><a class="text-decoration-none text-center" href="{% url 'EditarFuncionarios' model.id %}">{{model.nome}}</a></th>
            <td class="text-center">{{model.unidade}}</td>
            <td class="text-center">{{model.telefone}}</td>
            <td class="text-center">{{model.endereco}}</td>
            <td class="text-center">{{model.criado}}</td>
            <td><a href="{% url 'DeletarFuncionario' model.id %}"><i class="far fa-trash-alt" style="color: #f00505;"></i></a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
<ul class="pagination justify-content-center">
    <!-- Link para a página anterior -->
    {% if PaginarFuncionarios.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ PaginarFuncionarios.previous_page_number }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
        </li>
    {% endif %}
    
    <!-- Mostrar "..." se houver páginas anteriores ao alcance visível -->
    {% if PaginarFuncionarios.number|add:'-3' > 1 %}
        <li class="page-item"><a class="page-link" href="?page=1">&hellip;</a></li>
    {% endif %}
    
    <!-- Páginas numeradas -->
    {% for page in PaginarFuncionarios.paginator.page_range %}
        {% if page == PaginarFuncionarios.number %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page }} <span class="sr-only">(current)</span>
                </span>
            </li>
        {% elif page >= PaginarFuncionarios.number|add:'-3' and page <= PaginarFuncionarios.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}
    
    <!-- Mostrar "..." se houver páginas seguintes ao alcance visível -->
    {% if PaginarFuncionarios.paginator.num_pages > PaginarFuncionarios.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ PaginarFuncionarios.paginator.num_pages }}">&hellip;</a></li>
    {% endif %}
    
    <!-- Link para a próxima página -->
    {% if PaginarFuncionarios.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ PaginarFuncionarios.next_page_number }}">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
        </li>
    {% endif %}
</ul>


