{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


<section class="h-100 w-100 d-flex flex-column justify-content-center align-items-center gap-5 col-5 ">
    <div id="register-ponto" class="container d-flex flex-column justify-content-center align-items-center shadow w-75 bg-light rounded gap-2 p-3">
        <h2 id="titulo-ponto-out" class="text-primary w-75 text-center">REGISTRE O SEU <span class="text-danger">PONTO DE SAÍDA</span> CLICANDO NO BOTÃO</h2>
        
            <button class="btn btn-success " type="button" id="getLocation-out">Registrar Ponto</button>
        
        <div class="text-danger" id="status">{% if "status" == "error" %} {{error}} {% endif %}</div>
        <p class="text-danger ">Ative o seu GPS para marcar seu ponto.</p>
        <p class="text-danger "><strong>Marcar o ponto fora da unidade é passível de punição !</strong></p>
    </div>
    <div id="success-register" class="container d-none d-flex flex-column justify-content-center align-items-center shadow w-75 bg-light rounded gap-2 p-3">
        <h2 class="text-primary w-75 text-center">PONTO DE SAÍDA REGISTRADO COM SUCESSO !</h2>
        <h5 class="text-primary w-75 text-center">TENHA UM BOM DESCANSO !</h5>
    </div>
</section>



{% endblock %}
{% block scripts %} <script src="{% static 'controle/js/controle.js' %}"></script> {% endblock  %}